@font-face{font-family:"Noto Sans SC";font-style:normal;font-weight:400 700;font-display:swap;src:url("./noto-sans-sc-1.woff2") format("woff2")}
@font-face{font-family:"Noto Serif SC";font-style:normal;font-weight:400 600;font-display:swap;src:url("./noto-serif-sc-2.woff2") format("woff2")}
